.title {
  height: 200px;
}

.levelBackground {
  width: 100vw;
  margin: 0 auto;
  background: url(./../../assets/images/mario-1-1.gif) no-repeat 0 0;
  background-size: cover;
  background-position: 100% 0;
  transition: 3s ease;
}
.background {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  display: flex;
}
.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72
  );
  height: 100vh;
  z-index: 2;
}
main {
  margin-top: 500px;
  position: relative;
}
.questions {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px 0;
}
.tv {
  position: absolute;
  top: -75px;
  bottom: -20px;
  left: -75px;
  right: -280px;
}
.mario {
  transition: left 1s linear;
  width: 30px;
  position: absolute;
  bottom: 10%;
  left: 100px;
  align-self: center;
  animation: reverseSpin 3s;
}
.target {
  width: 50px;
  position: absolute;
  right: 10px;
  bottom: 48%;
  transform: rotate();
  animation: spin infinite 10s linear;
}
.coin {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 20px;
}
.score {
  position: absolute;
  top: 20px;
  right: 70px;
  font-size: 2rem;
}
.nes {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.tvButton {
  background: rgba(0, 0, 0, 0);
  width: 6%;
  position: absolute;
  height: 9%;
  bottom: 184px;
  right: -115px;
  border-radius: 6px;
  z-index: 10;
  border: none;
}
.secondarySection {
  margin-top: 130px;
}
.background:before {
  content: "";
  color: black;
  background: black;
  width: 100%;
  position: absolute;
  height: 100px;
  bottom: -100px;
}
.pseudoTv:before {
  content: "";
  color: black;
  background: black;
  width: 100%;
  position: absolute;
  height: 60px;
  top: -50px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reverseSpin {
  from {
    transform: rotate(1260deg);
  }
  to {
    transform: rotate(0deg);
  }
}
