.container {
}

.levelBackground {
  // width: 700px;
  width: 100vw;
  margin: 0 auto;
  background: url(./../../assets/images/mario-1-1.gif) no-repeat 0 0;
  background-size: cover;
  background-position: 2% 0;
  transition: 3s ease;
  border: 10px solid black;
}
.background {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  display: flex;
}
main {
  position: relative;
}
.questions {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px 0;
}
.mario {
  transition: left 1s linear;
  width: 30px;
  position: absolute;
  bottom: 10%;
  left: 100px;
  align-self: center;
  animation: reverseSpin 1s;
}
.target {
  width: 50px;
  position: absolute;
  right: 10px;
  bottom: 48%;
  transform: rotate();
  animation: spin infinite 10s linear;
}
.coin {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 20px;
}
.score {
  position: absolute;
  top: 20px;
  right: 70px;
  font-size: 2rem;
}
.nes {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reverseSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
