select,
[type="submit"] {
  text-align: left;
  background: black;
  color: white;
  font-size: 15px;
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid white;
}

[type="submit"] {
  width: 70px;
  text-align: center;
  margin: 0 auto;
}
.buttonSpacing {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-evenly;
}
.channelButton,
.channelButton2 {
  background: rgba(0, 0, 0, 0);
  width: 14%;
  position: absolute;
  height: 20%;
  right: -33%;
  border-radius: 100px;
  z-index: 10;
  border: none;
}
.channelButton {
  bottom: 26%;
}
.channelButton2 {
  bottom: 1%;
}
.tvButton {
  background: rgba(0, 0, 0, 0);
  width: 6%;
  position: absolute;
  height: 9%;
  bottom: 184px;
  right: -115px;
  border-radius: 6px;
  z-index: 10;
  // border: none;
}
.colorButton {
  border: 1px solid white;
  bottom: 5px;
}
